# All our pages hit this prefetch script.  This will determine the language and
# forward them to the right place.
Action init /includes/global/prefetch.php?
AddHandler init .html

# By handling the 404s with our prefetch script, we can give localized
# error messages
ErrorDocument 404 /includes/global/prefetch.php
